<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Four</title>

    <script type="text/javascript" src="scripts/vendor/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//js.leapmotion.com/leap-0.6.4.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/socket.io.js"></script>
    <script type="text/javascript" src="scripts/vendor/three.min.js"></script>
    <script type="text/javascript" src="scripts/four-leap.js"></script>
    <script type="text/javascript">
        $(function () {
            var four = new Four.LeapClient('http://localhost');
        });
    </script>
</head>

<body>
</body>

</html>